<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermes's gates</title>
    <link rel="stylesheet" href="SamplePageStyle.css">
    <script src="Tests.js"></script>
    <script src="SamplePageCode.js"></script>
</head>
<body>
    <p style="display: none;" id="user_not_found">Usuário não encontrado</p>
    <label for="login-name">Nome</label>
    <input id="login-name" name="name" type="text">
    <label for="login-password">Senha</label>
    <input id="login-password" name="password" type="password">
    <input type="button" id="login-button" value="login" onclick="login()">
</body>
</html>