<!DOCTYPE html>
<html lang="en">
    <!--Currently the site is not safe from hacks-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermes</title>
    <script src="SamplePageCode.js"></script>
    <link rel="stylesheet" href="SamplePageStyle.css">
</head>
<body>
    <div id="Feed_tab" class="tab">
        feed
    </div>
    <div id="Search_tab" class="tab">
        search
    </div>
    <div id="Profile_tab" class="tab">
        profile
    </div>
    <div id="Settings_tab" class="tab">
        settings
    </div>

    <div class="tab_buttons">
        <button class="tab_button" onclick="open_tab(event, 'Feed_tab')">
            <img src="Images/Feed_Icon.png" alt="Feed" width="30px">
            <span>Feed</span>
        </button>
        <button class="tab_button" onclick="open_tab(event, 'Search_tab')">
            <img src="Images/Search_Icon.png" alt="Search" width="30px">
            <span>Search</span>
        </button>
        <button class="tab_button" onclick="open_tab(event, 'Profile_tab')">
            <img src="Images/User_Icon.png" alt="User_profile" width="30px">
            <span>Profile</span>
        </button>
        <button class="tab_button" onclick="open_tab(event, 'Settings_tab')">
            <img src="Images/Settings_Icon.png" alt="Settings" width="30px">
            <span>Settings</span>
        </button>
    </div>
</body>
</html>