<!DOCTYPE html>
<!-- Nota: a iteração atual sendo feita não é segura, só efetivamente mostra a ideia a ser feita -->
<html lang="en">
    <!--Currently the site is not safe from hacks-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermes</title>
    <script src="Tests.js"></script>
    <script src="SamplePageCode.js"></script>
    <link rel="stylesheet" href="SamplePageStyle.css">
</head>
<body>
    <div id="Feed_tab" class="tab">
        <script>
            
        </script>
        <p id="feed"></p>
        <input type="text" id="post_input">
        <button class="post_button" id="post_input" onclick="newWebPost(document.getElementById('post_input').value)"><span>post</span></button>
        <script>
            if (Auth<1){
                document.getElementById("post_input").style.display="none";
            }
        </script>
    </div>
    <div id="Search_tab" class="tab">
        search
    </div>
    <div id="Profile_tab" class="tab">
        profile
    </div>
    <div id="Settings_tab" class="tab">
        settings
    </div>

    <div class="tab_buttons">
        <button class="tab_button" onclick="open_tab(event, 'Feed_tab')">
            <img src="Images/Feed_Icon.png" alt="Feed" width="30em">
            <span>Feed</span>
        </button>
        <button class="tab_button" onclick="open_tab(event, 'Search_tab')">
            <img src="Images/Search_Icon.png" alt="Search" width="30em">
            <span>Search</span>
        </button>
        <button class="tab_button" onclick="open_tab(event, 'Profile_tab')">
            <img src="Images/User_Icon.png" alt="User_profile" width="30em">
            <span>Profile</span>
        </button>
        <button class="tab_button" onclick="open_tab(event, 'Settings_tab')">
            <img src="Images/Settings_Icon.png" alt="Settings" width="30em">
            <span>Settings</span>
        </button>
    </div>
</body>
</html>